@media only screen and (max-width : 1215px) {
	.footer {
		-ms-grid-columns: 480px 50px 330px 50px;
		grid-template-columns: 480px 330px;
	 }
	 .footer__item:nth-child(3) {
		 display: none;
	 }
	 .footer {
		 padding-bottom: 0px;
		 font-size: 14px;
	 }
	 .footer__laptop {
		 display: block;
		 padding: 0 15px 50px;
	 }
	 .footer__laptop a {
		 font-weight: 700;
	 }
	 .laptop__item {
		 font-size: 14px;
		 display: -webkit-box;
		 display: -ms-flexbox;
		 display: flex;
		 gap: 20px;
	 }
}
@media only screen and (max-width : 1000px) {
	.wraper {
    max-width: 930px;
  }
	.phone {
		display: none;
	}
	h1 {
    font-size: 36px;
  }
	.text p {
    font-size: 20px;
    margin-bottom: 60px;
  }
	.text {
    -ms-flex-preferred-size: 590px;
    flex-basis: 590px;
  }
	.list {
    -ms-flex-preferred-size: 390px;
    flex-basis: 390px;
  }
	.list ul li {
    font-size: 16px;
	}
	.benefits__wrap__item {
    padding: 30px 15px;
  }
	.company .text {
    -ms-flex-preferred-size: 640px;
    flex-basis: 640px;
  }
	.accordion {
    -ms-flex-preferred-size: 500px;
    flex-basis: 500px;
  }
	.accordion__header {
    font-size: 16px;
  }
	.form {
    max-width: 330px;
  }
}

@media only screen and (max-width : 768px) {
	.wraper {
    max-width: 738px;
  }
	section {
    margin: 70px 0;
  }
	.header {
    padding: 25px 30px;
  }
	.text {
    -ms-flex-preferred-size: 570px;
    flex-basis: 570px;
  }
	.work__wrap {
		padding: 30px;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.list {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
	.work__wrap .img {
		text-align: center;
		width: 100%;
	}
	.benefits__wrap {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		grid-template-columns: repeat( auto-fill, 300px); 
  }
	.company {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.company .text {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
	.company img {
		margin-top: 30px;
	}
	.accordion {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
	.faq__wrap {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.form {
    max-width: 100%;
		width: 100%;
  }
	.footer {
    -ms-grid-columns: 380px 25px 1fr;
    grid-template-columns: 380px 1fr;
		gap: 25px;
  }
	.laptop__item {
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
	 gap: 0;
  }
	.laptop__item p {
     margin-right: 14px;
		 margin-bottom: 0;
	}
}
@media only screen and (max-width : 440px) {
	.wraper {
    margin-top: 30px;
  }
	.header {
    padding: 25px 20px;
		background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(/images/header-image.png);
		background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/header-image.png);
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/images/header-image.png);
  }
	.mobile__logo {
    display: block;
	}
	.desktop__logo {
		display: none;
	}
	.btn a:nth-child(1) {
    margin-right: 15px;
  }
	h1 {
    font-size: 32px;
  }
	h2 {
		font-size: 24px;
		margin-bottom: 30px;
	}
	.link {
    padding: 10px 20px;
	}
	.header__content {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.text {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    text-align: center;
  }
	.text p {
    font-size: 16px;
    margin-bottom: 30px;
  }
	.content__item.img {
		display: none;
	}	
	.content__item a {
		width: 100%;
	}
	.swiper-slide,
	.swiper-slide-active {
    padding: 30px 25px 50px;
  }
	.benefits h2 {
		padding: 0 15px;
	}
	.benefits__wrap {
    grid-template-columns: repeat( auto-fill, 200px);
  }
	.benefits__wrap__item .text {
    font-size: 16px;
    font-weight: 700;
  }
	.benefits__wrap__item .img {
    height: 90px;
  }
	.company h2.text-left {
		text-align: center;
	}
	.company__item.text p {
		text-align: left;
	}
	.company .text a {
		width: 100%;
		margin-top: 10px;
	}
	.company img {
    padding: 0 30px;
  }
	.accordion__header {
    padding: 15px 20px;
  }
	.accordion__body {
    padding: 10px;
  }
	.form__title {
    text-align: center;
  }
	.footer {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0px;
		padding: 10px 0px 0px;
  }
	.laptop__item:nth-child(2) {
    display: block;
  }
	.footer__laptop {
    padding: 0px 0px 20px;
  }
}
@media only screen and (max-width : 360px) {
	.wraper {
    margin-top: 30px;
  }
  .header {
    padding: 25px 10px;
	}	
	section {
    margin: 35px 0;
  }
	.btn {
   font-size: 14px;
	}
	.btn a:nth-child(1) {
    margin-right: 0px;
  }
	h1 {
    font-size: 24px;
  }
	.header__menu {
    margin-bottom: 10px;
  }
	.text .link {
    font-size: 16px;
  }
	h2 {
    font-size: 20px;
  }
	.slider__title {
    font-size: 16px;
  }
	.slider__text {
    font-size: 14px;
    line-height: 19px;
  }
	.swiper-slide {
    -webkit-transform: scale(1.0)!important;
        -ms-transform: scale(1.0)!important;
            transform: scale(1.0)!important;
  }
	.work__wrap {
    padding: 15px;
  }
	.list ul li::before {
    font-size: 35px;
		top: calc(50% - 25px);
  }
	.list ul li {
    font-size: 14px;
  }
	h2 span {
    font-size: 16px;
  }
	.benefits__wrap {
    grid-template-columns: repeat( auto-fill, 160px);
  }
	.benefits__wrap__item .text {
    font-size: 13px;
    font-weight: 700;
  }
	.company .text p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 20px;
  }
	.company .text a {
    font-size: 16px;
  }
	.company img {
    padding: 0px;
  }
	.accordion__header {
    font-size: 14px;
  }
	.accordion__header {
    padding: 15px 10px;
  }
	.accordion__header::after {
    width: 15px;
    height: 15px;
    right: 15px;
		top: 15px;
	}
	.accordion__body {
    font-size: 14px;
  }
	.send__form {
    font-size: 16px;
		padding: 15px 20px;
  }
	input {
    font-size: 16px;
  }
	.success {
    width: 300px;
		height: 170px;
  }
	.success img {
    margin-top: 10px;
  }
}